doctype html
html
    head
        script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js")
        link(rel="stylesheet", type="text/css", href="/stylesheets/asyncExample.css")

    body
        .text-zone
            .person#heo 허재종
            .person#hong 홍준엽
            .person#gong 공현식
            .person#lee 이수정
            .person#hongju 홍주원
            .person#yun 윤동민
            .person#jo 조원민
            .person#an 안동원
            .person#gu 구윤정
            .person#yunjin 윤진영
            .person#jang 장한나
            .person#leeeun 이은정

        .button 확인
        .result-zone


        script(src="/javascripts/asyncExample.js")
