doctype html
html
    head
        script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
        script(src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js")
        script(src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js")
        script(src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js")

        link(rel="stylesheet", type="text/css", href="/stylesheets/driveSystem.css")




    body
        .button#loginButton login
        .button#logoutButton logout
        script(src="/javascripts/firebaseInitial.js")
        script(src="/javascripts/firebaseApi.js")
        script(src="/javascripts/firestoreApi.js")
        script(src="/javascripts/driveSystem.js")
