doctype html
html
    head
        title= title
        link(rel="stylesheet", type="text/css", href="/stylesheets/index2.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
        script(src='/javascripts/p5.js')
        script(src='/javascripts/addons/p5.dom.min.js')
        script(src='/javascripts/addons/p5.sound.min.js')
    body
        #canvas
        .content-zone
            .profile-zone
            .menu-bar
                .menu abc
                .menu abc
                .menu abc
            .main-zone
                .count-zone
                    .count-box
                        .count-box-number 100
                        .count-box-name abc
                    .count-box
                        .count-box-number 1
                        .count-box-name 1
                .card-zone
                    .card
                        .card-content
                            .card-image.ajou-univ
                            .card-name 아주대학교 홈페이지
                            .card-explain asdfasd asdfs adfs ads adf sadfdsds a dfas dsfa dfgsad asdf asdf as dfsda fsda f sad fdsaf dsa fsa
                    .card
                        .card-content
                            .card-image.instagram
                            .card-name instagram
                            .card-explain asdg sdags adg
                    .card
                        .card-content
                            .card-image
                            .card-name
                            .card-explain
                    .card
                    .card
                    .card
                    .card






    script(src="/javascripts/bubble.generator.js")
