extends layout
block content
    link(rel="stylesheet", type="text/css", href="/stylesheets/instagram.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")





    .fixed-zone
        .content
            .circle-zone
                .circle
            .top-bar
                .camera-image
                    i.fab.fa-instagram.fa-3x
                .instagram-image
                    .instagram
                .input-zone
                    input(type="text", placeholder="search")
                    i.fas.fa-search
                .top-bar-icons
                    i.far.fa-user.fa-2x
                    i.far.fa-heart.fa-2x
                    i.far.fa-compass.fa-2x
            .main-bar
                .picture-zone
                    .picture
                .profile-zone
                    .name-zone
                        .name selenagomez
                        i.fas.fa-certificate
                            i.fas.fa-check
                        .button
                            .button-text follow
                    .text-zone
                        .text abcdefghijkl mnopq rsasdgs adgs dafs dfsad fsdafs adfasdfadsfa dsfsadfasdfsadfsadfsadgsdafsdf
                    .number
                        .post
                            .numbers 1,190
                            .texts posts
                        .post
                            .numbers 80.7m
                            .texts followers
                        .post
                            .numbers 248
                            .texts following
            .bottom-bar
                i.fas.fa-th
                i.fas.fa-bars
                i.fas.fa-map-marker-alt

    .moved-zone
        .content
            .grid
                .image-zone
                    .image-wrapper
                    .image.image-1
                .image-zone
                    .image-wrapper
                    .image.image-2
                .image-zone
                    .image-wrapper
                    .image.image-3
            .grid
                .image-zone
                    .image-wrapper
                    .image.image-4
                .image-zone
                    .image-wrapper
                    .image.image-5
                .image-zone
                    .image-wrapper
                    .image.image-6
            .grid
                .image-zone
                    .image-wrapper
                    .image.image-7
                .image-zone
                    .image-wrapper
                    .image.image-8
                .image-zone
                    .image-wrapper
                    .image.image-9
            .grid
                .image-zone
                    .image-wrapper
                    .image.image-10
                .image-zone
                    .image-wrapper
                    .image.image-11
                .image-zone
                    .image-wrapper
                    .image.image-12
