extends kakaotalk_layout

block link
    link(rel="stylesheet", type="text/css", href="/stylesheets/kakaotalk_friends.css")

block bar
    include kakaotalk_bar

block friends
    .friends-window
        .group-name-zone
            .group-name 내 프로필
        a(href="/kakaotalk/profile", target="_self")
            .friend-bar
                .friend-image-zone
                    .friend-image
                        .fas.fa-user
                .friend-name-zone
                    .friend-name 홍준엽
        .group-name-zone
            .group-name 그룹
        a(href="/kakaotalk/profile", target="_self")
            .friend-bar
                .friend-image-zone
                    .friend-image
                        .plus-friend
                .friend-name-zone
                    .friend-name 플러스친구
                .friend-right-zone
                    .number-zone
                        .number 8
                    .arrow-image
                        .fas.fa-angle-right
        .group-name-zone
            .group-name 친구 98
        a(href="/kakaotalk/profile", target="_self")
            .friend-bar
                .friend-image-zone
                    .friend-image
                        .fas.fa-user
                .friend-name-zone
                    .friend-name 플러스친구
                .friend-right-zone
                    .text-zone
                        .text abcd
        a(href="/kakaotalk/profile", target="_self")
            .friend-bar
                .friend-image-zone
                    .friend-image
                        .fas.fa-user
                .friend-name-zone
                    .friend-name 플러스친구
                .friend-right-zone
                    .text-zone
                        .text abcd
        a(href="/kakaotalk/profile", target="_self")
            .friend-bar
                .friend-image-zone
                    .friend-image
                        .fas.fa-user
                .friend-name-zone
                    .friend-name 플러스친구
                .friend-right-zone
                    .text-zone
                        .text abcd
        a(href="/kakaotalk/profile", target="_self")
            .friend-bar
                .friend-image-zone
                    .friend-image
                        .fas.fa-user
                .friend-name-zone
                    .friend-name 플러스친구
                .friend-right-zone
                    .text-zone
                        .text abcd
        a(href="/kakaotalk/profile", target="_self")
            .friend-bar
                .friend-image-zone
                    .friend-image
                        .fas.fa-user
                .friend-name-zone
                    .friend-name 플러스친구
                .friend-right-zone
                    .text-zone
                        .text abcd
        a(href="/kakaotalk/profile", target="_self")
            .friend-bar
                .friend-image-zone
                    .friend-image
                        .fas.fa-user
                .friend-name-zone
                    .friend-name 플러스친구
                .friend-right-zone
                    .text-zone
                        .text abcd
        a(href="/kakaotalk/profile", target="_self")
            .friend-bar
                .friend-image-zone
                    .friend-image
                        .fas.fa-user
                .friend-name-zone
                    .friend-name 플러스친구
                .friend-right-zone
                    .text-zone
                        .text abcd
        a(href="/kakaotalk/profile", target="_self")
            .friend-bar
                .friend-image-zone
                    .friend-image
                        .fas.fa-user
                .friend-name-zone
                    .friend-name 플러스친구
                .friend-right-zone
                    .text-zone
                        .text abcd