extends kakaotalk_layout

block link
    link(rel="stylesheet", type="text/css", href="/stylesheets/kakaotalk_chatting.css")

block chatting
    .chatting-window
        .chatting-top-bar
            .chatting-top-bar-icon
                a(href="/kakaotalk/chatting_rooms", target="_self").fas.fa-arrow-left
            .chatting-top-bar-text-zone
                .setting-top-bar-text 홍준엽
            .chatting-top-bar-icon
                a.fas.fa-search
            .chatting-top-bar-icon
                a.fas.fa-bars
        .chatting-zone
            .chatting-bar
                .chatting-bar-image-zone
                    .chatting-bar-image-circle-zone
                        .fas.fa-user
                .chatting-bar-text-zone
                    .chatting-bar-name-zone
                        .chatting-bar-name 상대방
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
            .chatting-bar
                .chatting-bar-image-zone.no-image
                .chatting-bar-text-zone
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
                .chatting-bar-time-zone
                    .chatting-bar-time 오후 12:28
            .chatting-bar.send-text
                .chatting-bar-text-zone
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
            .chatting-bar.send-text
                .chatting-bar-time-zone
                    .chatting-bar-time 오후 12:28
                .chatting-bar-text-zone
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
            .chatting-bar
                .chatting-bar-image-zone
                    .chatting-bar-image-circle-zone
                        .fas.fa-user
                .chatting-bar-text-zone
                    .chatting-bar-name-zone
                        .chatting-bar-name 상대방
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
            .chatting-bar
                .chatting-bar-image-zone.no-image
                .chatting-bar-text-zone
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
                .chatting-bar-time-zone
                    .chatting-bar-time 오후 12:28
            .chatting-bar.send-text
                .chatting-bar-text-zone
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
            .chatting-bar.send-text
                .chatting-bar-time-zone
                    .chatting-bar-time 오후 12:28
                .chatting-bar-text-zone
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
            .chatting-bar
                .chatting-bar-image-zone
                    .chatting-bar-image-circle-zone
                        .fas.fa-user
                .chatting-bar-text-zone
                    .chatting-bar-name-zone
                        .chatting-bar-name 상대방
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
            .chatting-bar
                .chatting-bar-image-zone.no-image
                .chatting-bar-text-zone
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
                .chatting-bar-time-zone
                    .chatting-bar-time 오후 12:28
            .chatting-bar.send-text
                .chatting-bar-text-zone
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
            .chatting-bar.send-text
                .chatting-bar-time-zone
                    .chatting-bar-time 오후 12:28
                .chatting-bar-text-zone
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
            .chatting-bar
                .chatting-bar-image-zone
                    .chatting-bar-image-circle-zone
                        .fas.fa-user
                .chatting-bar-text-zone
                    .chatting-bar-name-zone
                        .chatting-bar-name 상대방
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라sadgs adgasdgsad  asdfasdf sdafsdafsdaf sdaf sdaf sad sadf ads fgasgsadgsa
            .chatting-bar
                .chatting-bar-image-zone.no-image
                .chatting-bar-text-zone
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
                .chatting-bar-time-zone
                    .chatting-bar-time 오후 12:28
            .chatting-bar.send-text
                .chatting-bar-text-zone
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
            .chatting-bar.send-text
                .chatting-bar-time-zone
                    .chatting-bar-time 오후 12:28
                .chatting-bar-text-zone
                    .chatting-bar-message-zone
                        .chatting-bar-message 가나다라
        .chatting-bottom-bar
            .plus-square-icon-zone
                .far.fa-plus-square
            textarea(cols=10)#messageInput
            //input(type="text")#messageInput
            .face-icon-zone
                .far.fa-smile
            .send-icon-zone#sender
                .fas.fa-paper-plane

    script(src="/javascripts/kakaotalk_chatting.js")

