
link(rel="stylesheet", type="text/css", href="/stylesheets/kakaotalk_bar.css")

.bar
    a(href="/kakaotalk/friends", target="_self")
        .bar-image-zone
            .fas.fa-user
    a(href="/kakaotalk/chatting_rooms", target="_self")
        .bar-image-zone
            .fas.fa-comment
    a
        .bar-image-zone
            .far.fa-newspaper
    a(href="/kakaotalk/setting", target="_self")
        .bar-image-zone
            .fas.fa-ellipsis-h
