extends kakaotalk_layout

block link
    link(rel="stylesheet", type="text/css", href="/stylesheets/kakaotalk_chatting_rooms.css")

block bar
    include kakaotalk_bar

block chatting_rooms
    .chatting-room-window
        a(href="/kakaotalk/chatting", target="_self").chatting-friend-bar
            .profile-image-zone
                .profile-image
                    .fas.fa-user
            .message-zone
                .name-zone
                    .name 홍주원
                .text-zone
                    .text 으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아아아ㅏㅏ아ㅏ앙 아아ㅏ아아아
            .time-zone
                .time 오전 11:18
        a(href="/kakaotalk/chatting", target="_self").chatting-friend-bar
            .profile-image-zone
                .profile-image
                    .fas.fa-user
            .message-zone
                .name-zone
                    .name 홍주원
                .text-zone
                    .text 으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아
            .time-zone
                .time 오전 11:18
        a(href="/kakaotalk/chatting", target="_self").chatting-friend-bar
            .profile-image-zone
                .profile-image
                    .fas.fa-user
            .message-zone
                .name-zone
                    .name 홍주원
                .text-zone
                    .text 으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아
            .time-zone
                .time 오전 11:18
        a(href="/kakaotalk/chatting", target="_self").chatting-friend-bar
            .profile-image-zone
                .profile-image
                    .fas.fa-user
            .message-zone
                .name-zone
                    .name 홍주원
                .text-zone
                    .text 으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아
            .time-zone
                .time 오전 11:18
        a(href="/kakaotalk/chatting", target="_self").chatting-friend-bar
            .profile-image-zone
                .profile-image
                    .fas.fa-user
            .message-zone
                .name-zone
                    .name 홍주원
                .text-zone
                    .text 으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아
            .time-zone
                .time 오전 11:18
        a(href="/kakaotalk/chatting", target="_self").chatting-friend-bar
            .profile-image-zone
                .profile-image
                    .fas.fa-user
            .message-zone
                .name-zone
                    .name 홍주원
                .text-zone
                    .text 으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아
            .time-zone
                .time 오전 11:18
        a(href="/kakaotalk/chatting", target="_self").chatting-friend-bar
            .profile-image-zone
                .profile-image
                    .fas.fa-user
            .message-zone
                .name-zone
                    .name 홍주원
                .text-zone
                    .text 으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아
            .time-zone
                .time 오전 11:18
        a(href="/kakaotalk/chatting", target="_self").chatting-friend-bar
            .profile-image-zone
                .profile-image
                    .fas.fa-user
            .message-zone
                .name-zone
                    .name 홍주원
                .text-zone
                    .text 으ㅏ아아ㅏ아아ㅏㅏ아 아ㅏ아아아아아아
            .time-zone
                .time 오전 11:18
