extends kakaotalk_layout

block link
    link(rel="stylesheet", type="text/css", href="/stylesheets/kakaotalk_chatting.css")
    script(src='https://www.gstatic.com/firebasejs/4.12.1/firebase.js')
    script(src="/javascripts/kakaotalk_chatting_api.js")

block chatting
    .chatting-window
        .modal-background
            .modal
                .modal-text 삭제 하시겠습니까?
                .modal-button-zone
                    .modal-button#yes 예
                    .modal-button#no 아니오

        .chatting-top-bar
            .chatting-top-bar-icon
                a(href="/kakaotalk/chatting_rooms", target="_self").fas.fa-arrow-left
            .chatting-top-bar-text-zone
                .setting-top-bar-text 홍준엽
            .chatting-top-bar-icon
                a.fas.fa-search
            .chatting-top-bar-icon
                a.fas.fa-bars

        .chatting-zone



        .chatting-bottom-bar
            .plus-square-icon-zone
                .far.fa-plus-square
            textarea(cols=10)#messageInput
            //input(type="text")#messageInput
            .face-icon-zone
                .far.fa-smile
            .send-icon-zone#sender
                .fas.fa-paper-plane
    script(src="/javascripts/kakaotalk_chatting.js")







