extends kakaotalk_layout

block link
    link(rel="stylesheet", type="text/css", href="/stylesheets/kakaotalk_setting.css")

block setting
    .setting-window
        .setting-top-bar
            .setting-top-bar-icon
                a(href="/kakaotalk/friends", target="_self").fas.fa-arrow-left
            .setting-top-bar-text-zone
                .setting-top-bar-text 설정
            .setting-top-bar-icon
                a.fas.fa-search
        .setting-bottom
            .setting-bar
                .setting-bar-image-zone
                    .fas.fa-bullhorn
                .setting-bar-text-zone
                    .setting-bar-text 공지사항
            .setting-bar
                .setting-bar-image-zone
                    .fas.fa-flask
                .setting-bar-text-zone
                    .setting-bar-text 실험실
            .setting-bar
                .setting-bar-image-zone
                    .fas.fa-info-circle
                .setting-bar-text-zone.no-border
                    .setting-bar-text 버전정보
            .setting-bar-space
            .setting-bar
                .setting-bar-image-zone
                    .fas.fa-lock
                .setting-bar-text-zone
                    .setting-bar-text 개인/보안
            .setting-bar
                .setting-bar-image-zone
                    .fas.fa-bell
                .setting-bar-text-zone
                    .setting-bar-text 알림
            .setting-bar
                .setting-bar-image-zone
                    .fas.fa-user
                .setting-bar-text-zone
                    .setting-bar-text 친구
            .setting-bar
                .setting-bar-image-zone
                    .fas.fa-comment
                .setting-bar-text-zone
                    .setting-bar-text 채팅
            .setting-bar
                .setting-bar-image-zone
                    .fas.fa-sun
                .setting-bar-text-zone
                    .setting-bar-text 화면
            .setting-bar
                .setting-bar-image-zone
                    .fas.fa-paint-brush
                .setting-bar-text-zone
                    .setting-bar-text 테마
            .setting-bar
                .setting-bar-image-zone
                    .fas.fa-star
                .setting-bar-text-zone
                    .setting-bar-text 게임별
            .setting-bar
                .setting-bar-image-zone
                    .fas.fa-ellipsis-h
                .setting-bar-text-zone.no-border
                    .setting-bar-text 기타
            .setting-bar-space
            .setting-bar
                .setting-bar-image-zone
                    .fas.fa-question-circle
                .setting-bar-text-zone.no-border
                    .setting-bar-text 고객센터/도움말