html
    head
        link(rel="stylesheet", type="text/css", href="/stylesheets/modal.css")


    body
        .window
            .text window
        .modal-wrapper
            .modal-table
                .modal-cell
                    .modal
