* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  min-width: 1024px; }

.upper-zone {
  width: 100%; }
  .upper-zone .top-bar {
    height: 30px; }
    .upper-zone .top-bar .top-bar_bg {
      height: inherit;
      background: #3e3e3e; }
  .upper-zone .menu-bar {
    height: 95px; }
    .upper-zone .menu-bar .menu-bar_bg {
      height: inherit;
      background-color: #0d2f62; }

.content {
  height: 100%;
  max-width: 1024px;
  margin: auto;
  position: relative; }
  .content .top-bar_content {
    height: inherit;
    position: absolute;
    right: 0;
    display: flex; }
    .content .top-bar_content .menu {
      color: #ffffff;
      font-size: 13px;
      text-align: center;
      padding-top: 5px; }
      .content .top-bar_content .menu:hover {
        cursor: pointer; }
    .content .top-bar_content input {
      margin-left: 20px;
      height: 90%; }
    .content .top-bar_content .search {
      height: 90%;
      background: #888888; }
      .content .top-bar_content .search i.material-icons {
        cursor: pointer; }
  .content .ajoulogo-zone {
    position: absolute;
    left: 0;
    height: inherit;
    display: flex;
    padding-top: 20px; }
    .content .ajoulogo-zone .ajoulogo {
      height: 70%;
      width: 200px;
      background-size: 100% 100%;
      background: url("http://www.ajou.ac.kr/_resources/new/img/gnb/gnb_ajoulogo.png") no-repeat; }
      .content .ajoulogo-zone .ajoulogo:hover {
        cursor: pointer; }
  .content .menu-bar_content {
    height: inherit;
    position: absolute;
    right: 0;
    display: flex; }
    .content .menu-bar_content .menu {
      height: inherit;
      color: #ffffff;
      font-size: 18px;
      text-align: center;
      padding: 20px;
      font-weight: 500;
      display: flex;
      align-items: center; }
      .content .menu-bar_content .menu:hover {
        cursor: pointer;
        background: #ffffff;
        color: #0d2f62;
        text-decoration: underline; }

.image-zone {
  background-image: url(http://www.ajou.ac.kr/_attach/new/_images/2018/05/09/180509_main_visual_01_bg.gif);
  background-size: 100% 100%;
  height: 580px;
  position: relative; }
  .image-zone .icon-left {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 40px;
    border: rgba(255, 255, 255, 0.6) solid 1px;
    text-align: center; }
    .image-zone .icon-left:hover {
      cursor: pointer; }
    .image-zone .icon-left i {
      color: #ffffff;
      font-size: 35px; }
  .image-zone .icon-right {
    position: absolute;
    left: 50px;
    bottom: 30px;
    width: 40px;
    border: rgba(255, 255, 255, 0.6) solid 1px;
    text-align: center; }
    .image-zone .icon-right:hover {
      cursor: pointer; }
    .image-zone .icon-right i {
      color: #ffffff;
      font-size: 35px; }
  .image-zone .icon-dot {
    position: absolute;
    bottom: 40px; }
    .image-zone .icon-dot i {
      color: rgba(255, 255, 255, 0.3);
      font-size: 10px; }
      .image-zone .icon-dot i:hover {
        color: white;
        cursor: pointer; }
    .image-zone .icon-dot.one {
      left: 100px; }
    .image-zone .icon-dot.two {
      left: 115px; }
    .image-zone .icon-dot.three {
      left: 130px; }
    .image-zone .icon-dot.four {
      left: 145px; }
    .image-zone .icon-dot.five {
      left: 160px; }

.lower-zone .news-zone .content .title-zone {
  height: 100px; }
  .lower-zone .news-zone .content .title-zone .title {
    padding-top: 55px;
    font-size: 23px;
    color: #4b4b4b; }

.lower-zone .news-zone .content .news {
  display: flex; }
  .lower-zone .news-zone .content .news .news-card {
    padding: 0 10px;
    height: 325px;
    flex: 1; }
    .lower-zone .news-zone .content .news .news-card.left {
      padding-left: 0; }
    .lower-zone .news-zone .content .news .news-card.right {
      padding-right: 0; }
    .lower-zone .news-zone .content .news .news-card .card-image {
      height: 218px;
      position: relative; }
      .lower-zone .news-zone .content .news .news-card .card-image .image-1 {
        background-image: url("http://www.ajou.ac.kr/_attach/new/_images/2018/06/05/34fb8c2e138ee2f5554662827ef0693f.jpg");
        background-size: 100% 100%;
        height: 100%; }
      .lower-zone .news-zone .content .news .news-card .card-image .image-2 {
        background-image: url("http://www.ajou.ac.kr/_attach/new/_images/2018/06/05/0b1813f724f21e3aff29f41baadb4cc6.jpg");
        background-size: 100% 100%;
        height: 100%; }
      .lower-zone .news-zone .content .news .news-card .card-image .image-3 {
        background-image: url("http://www.ajou.ac.kr/_attach/new/_images/2018/05/31/94106f50ee715c51c44d5a0006a59ca5.jpg");
        background-size: 100% 100%;
        height: 100%; }
      .lower-zone .news-zone .content .news .news-card .card-image .image-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0; }
        .lower-zone .news-zone .content .news .news-card .card-image .image-wrapper:hover {
          opacity: 1;
          cursor: pointer; }
    .lower-zone .news-zone .content .news .news-card .card-text {
      height: 207px; }
      .lower-zone .news-zone .content .news .news-card .card-text .head {
        width: 300px;
        height: 40px;
        font-size: 15px;
        padding: 15px 0;
        font-weight: bold;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .lower-zone .news-zone .content .news .news-card .card-text .head:hover {
          text-decoration: underline;
          cursor: pointer; }
      .lower-zone .news-zone .content .news .news-card .card-text .body {
        font-size: 15px;
        height: 45px;
        overflow: hidden;
        line-height: 25px; }
        .lower-zone .news-zone .content .news .news-card .card-text .body:hover {
          text-decoration: underline;
          cursor: pointer; }

.lower-zone .notice-zone .content .title-zone {
  height: 100px; }
  .lower-zone .notice-zone .content .title-zone .title {
    padding-top: 55px;
    font-size: 23px;
    color: #4b4b4b; }

.lower-zone .notice-zone .content .notice {
  display: flex; }
  .lower-zone .notice-zone .content .notice .cell {
    width: calc(100% / 3);
    padding: 0 10px; }
    .lower-zone .notice-zone .content .notice .cell.first {
      padding-left: 0; }
      .lower-zone .notice-zone .content .notice .cell.first .notice-content {
        display: flex;
        margin-bottom: 10px; }
        .lower-zone .notice-zone .content .notice .cell.first .notice-content.no-margin {
          margin: 0; }
        .lower-zone .notice-zone .content .notice .cell.first .notice-content .notice-title-zone {
          flex: 2;
          background: #888888; }
          .lower-zone .notice-zone .content .notice .cell.first .notice-content .notice-title-zone .notice-title {
            text-align: center;
            color: #ffffff;
            font-size: 15px; }
        .lower-zone .notice-zone .content .notice .cell.first .notice-content .notice-text-zone {
          flex: 8;
          padding: 0 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
          .lower-zone .notice-zone .content .notice .cell.first .notice-content .notice-text-zone .notice-text:hover {
            text-decoration: underline;
            cursor: pointer; }
    .lower-zone .notice-zone .content .notice .cell.second .image {
      height: 100%;
      width: 100%;
      background-image: url("http://www.ajou.ac.kr/_resources/new/img/banner/20180428_insight.jpg");
      background-size: contain; }
      .lower-zone .notice-zone .content .notice .cell.second .image:hover {
        cursor: pointer; }
    .lower-zone .notice-zone .content .notice .cell.third {
      padding-right: 0; }
      .lower-zone .notice-zone .content .notice .cell.third .grid {
        display: flex;
        height: calc(100% / 3);
        padding: 5px 0 5px 0; }
        .lower-zone .notice-zone .content .notice .cell.third .grid .date-zone {
          flex: 1;
          background: #1d2e56;
          color: #ffffff;
          font-size: 15px;
          text-align: center;
          padding-top: 5px; }
        .lower-zone .notice-zone .content .notice .cell.third .grid .text-zone {
          flex: 4;
          padding-top: 5px;
          padding-left: 30px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
          .lower-zone .notice-zone .content .notice .cell.third .grid .text-zone:hover {
            text-decoration: underline;
            cursor: pointer; }

/*# sourceMappingURL=ajou_univ.css.map */