* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.window {
  width: 100vw;
  height: 100vh; }
  .window .calculator-window {
    width: 230px;
    height: 321px;
    margin: 50px auto;
    border-radius: 5px;
    border: solid 1px #888888;
    background: #a1a1a1; }
    .window .calculator-window .result-bar {
      width: 100%;
      height: 80px;
      border-radius: 5px 5px 0 0; }
      .window .calculator-window .result-bar .result-top-bar {
        width: 100%;
        height: 20px;
        display: flex; }
        .window .calculator-window .result-bar .result-top-bar .result-top-bar-circle-zone {
          height: 20px;
          display: flex;
          padding: 3px 0 0 3px; }
          .window .calculator-window .result-bar .result-top-bar .result-top-bar-circle-zone .circle {
            border-radius: 50%;
            width: 12px;
            height: 12px;
            margin: 0 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 1px; }
            .window .calculator-window .result-bar .result-top-bar .result-top-bar-circle-zone .circle i {
              visibility: hidden;
              font-size: 10px;
              transform: scale(0.8);
              transform-origin: 0 50%;
              color: #3e3e3e; }
            .window .calculator-window .result-bar .result-top-bar .result-top-bar-circle-zone .circle:hover i {
              visibility: visible; }
            .window .calculator-window .result-bar .result-top-bar .result-top-bar-circle-zone .circle[color="red"] {
              background: #f81142; }
            .window .calculator-window .result-bar .result-top-bar .result-top-bar-circle-zone .circle[color="yellow"] {
              background: #ffcd05; }
            .window .calculator-window .result-bar .result-top-bar .result-top-bar-circle-zone .circle[color="green"] {
              background: #0be226; }
      .window .calculator-window .result-bar .result-bottom-bar {
        width: 100%;
        height: 60px;
        padding: 10px 15px;
        display: flex;
        justify-content: flex-end; }
        .window .calculator-window .result-bar .result-bottom-bar .result-number {
          font-size: 40px;
          color: white;
          font-weight: 300; }
    .window .calculator-window .click-zone {
      width: 100%;
      height: 240px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      .window .calculator-window .click-zone .click-box {
        width: calc(100% / 4 - 1px);
        height: calc(100% / 5 - 1px);
        background: #d8d8d8; }
        .window .calculator-window .click-zone .click-box:hover {
          cursor: default; }
        .window .calculator-window .click-zone .click-box .text-zone {
          text-align: center;
          line-height: 50px;
          font-size: 20px; }
        .window .calculator-window .click-zone .click-box[double-size] {
          width: calc(100% / 2 - 1px); }
        .window .calculator-window .click-zone .click-box[color="orange"] {
          background: #ff9a07;
          color: white; }

.border-right-radius {
  border-bottom-right-radius: 5px; }

.border-left-radius {
  border-bottom-left-radius: 5px; }

/*# sourceMappingURL=calculator.css.map */